@use '../abstracts' as *;

main {
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin-inline: auto;
  max-width: $content-max-width;
  padding-inline: 0;

  @include from-tablet {
    // 80px @ 768px to 268px @ 1440px (From Figma)
    padding-inline: clamp(5rem, -8.429rem + 27.976vw, 16.75rem);
  }

  @include from-desktop {
    // 80px @ 1024px to 268px @ 1440px (From Figma)
    padding-inline: clamp(5rem, -23.923rem + 45.192vw, 16.75rem);
  }
}
